/*
/Interface/*
/Interface/Addons/Blizzard_*
!.gitignore
!Fonts/arialn.ttf
!Fonts/copy.bat
!Interface/Addons
!Interface/
!WTF/Account/KEROS/SavedVariables.lua
!WTF/Account/KEROS/VanillaGaming/Behappyy/camera-settings.txt
!WTF/Account/KEROS/bindings-cache.wtf
!WTF/Config.wtf

.svn
.DS_Store
